<template>
    <div id="login" class="column is-4 is-offset-4">
        <h3 class="title">
            Recovery Pin
        </h3>
    </div>
</template>

<script>
import { RECOVERY_PIN } from "@/store/actions/wallet"
export default {
    name: "RecoveryPin",
    created() {
        let fullPath = this.$route.fullPath;
        let pin = fullPath.slice(17);
        this.$store.dispatch(RECOVERY_PIN, pin)
            .then(() => {
                this.$router.push('/wallets?recovery=true')
            })
            //.finally(() => this.switchLoading())
    }
}
</script>