<template>
    <div class="modal-card wallet deposit" style="width: auto">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ $t("Interface.FiatWallet.Deposit.Title") }} "{{ walletName }}"</p>
        </header>
        <section class="modal-card-body">
            <b-field
                :label="$t('Interface.FiatWallet.Deposit.BankAccount')"
            >
                <multiselect
                    v-model="BankAccount"
                    v-validate="'required'"
                    :options="BankAccounts"
                    :allow-empty="false"
                    :hide-selected="true"
                    track-by="Id"
                    select-label=""
                    label="BankAccount"
                    name="BankAccount"
                    data-vv-name="BankAccount"
                    data-vv-value-path="BankAccount"
                >
                    <template slot="singleLabel" slot-scope="props">
                        <img :src="props.option.BankLogo" class="bankaccount-img">
                        <span class="option-title">{{ props.option.Nickname }}</span>
                        <span class="option-title"> ({{ props.option.BankName }})</span>
                    </template>
                    <template slot="option" slot-scope="props">
                        <img :src="props.option.BankLogo" class="bankaccount-img">
                        <span class="option-title">{{ props.option.Nickname }}</span>
                        <span class="option-title"> ({{ props.option.BankName }})</span>
                    </template>
                </multiselect>
            </b-field>
            <b-field>
                <b-button type="is-light" icon-left="bank-plus" @click="link()">
                    {{ $t("Interface.FiatWallet.LinkBank.ButtonAnother") }}
                </b-button>
            </b-field>
            <b-field
                :label="$t('Interface.FiatWallet.Deposit.Amount')"
                :message="errors.first('Amount')"
                :type="{ 'is-danger': errors.has('Amount'), 'is-success': fields.Amount && fields.Amount.valid }"
            >
                <b-input
                    v-model="Amount"
                    v-validate="'required|decimal'"
                    name="Amount"
                    type="text"
                    data-cy="amount"
                    icon="coins"
                />
            </b-field>
            <b-field>
                <!--<label for="SameDay" class="checkbox-label">
                    <input id="SameDay" type="checkbox" v-model="SameDay" @change="openPopup">
                    <span class="check"></span>
                    {{ $t('Interface.FiatWallet.Deposit.SameDay') }}
                </label>-->
                <b-checkbox v-model="SameDay">
                    Same Day ACH <strong @mouseover="openTooltip" @mouseout="tooltip = false">?</strong> ($1.5 fee)
                    <div v-if="tooltip" class="tooltip">I understand that if I initiate this transfer after 10pm EST, the funds will be debited into my account on the next business day.</div>
                </b-checkbox>
            </b-field>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-theme is-outlined" type="button" @click="$parent.close()">
                {{ $t("Interface.Buttons.Cancel") }}
            </button>
            <button class="button is-theme" @click="tooglePopup2(false)">
                {{ $t("Interface.Buttons.Deposit") }}
            </button>
        </footer>
        <b-loading :is-full-page="false" :active.sync="IsLoading" :can-cancel="false" />
        <div class="popup" v-if="popup">
            <div class="popup-holder">
                <div class="popup-header">

                </div>
                <div class="popup-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="popup-footer">
                    <button class="button is-theme is-outlined" type="button" @click="tooglePopup(false)">
                        Cancel
                    </button>
                    <button class="button is-theme" data-cy="submit" @click="tooglePopup(true)">          
                        I agree
                    </button>
                </div>
            </div>
        </div>
        <div class="popup" v-if="popup2">
            <div class="popup-holder">
                <div class="popup-header">
                    <h2 v-if="SameDay">Deposit With Same Day ACH</h2>
                    <h2 v-else>Deposit Without Same Day ACH</h2>
                </div>
                <div class="popup-content">
                    <template v-if="SameDay">                       
                        <p>I authorize {{ sessionUserInfo.Name }} to debit my bank account for <strong v-if="Amount">{{ Amount }}</strong> <strong v-else>0</strong> on or after [Date]. I understand that, because this is an electronic transaction, these funds may be withdrawn from my account as soon as the above indicated transaction date.
By choosing the option “Same Day ACH” I authorize BitcoinAlley to deduct the fee of $1.50 from the balance of the transfer. I will receive the total balance of <strong v-if="Amount">{{ Amount -1.5 }}</strong> <strong v-else>0</strong> into my BitcoinAlley wallet.</p>
                        <p>I understand that if I initiate this transfer after 10pm EST, the funds will be debited into my account on the next business day.</p>
                    </template>
                    <template v-else>
                        <p>I authorize {{ sessionUserInfo.Name }} to debit my bank account for <strong v-if="Amount">{{ Amount }}</strong> <strong v-else>0</strong> on or after [Date]. I understand that, because this is an electronic transaction, these funds may be withdrawn from my account as soon as the above indicated transaction date.</p>
                    </template>
                </div>
                <div class="popup-footer">
                    <button class="button is-theme is-outlined" type="button" @click="tooglePopup2(false)">
                        I Disagree
                    </button>
                    <button class="button is-theme" data-cy="submit" @click="deposit()">
                        <!--{{ $t("Interface.Buttons.Deposit") }}-->
                        I Agree
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Multiselect from "vue-multiselect"
import LoadingState from "@/mixins/LoadingState"
import {
    ACH_BANKACCOUNTS_REQUEST,
    ACH_DEPOSIT_REQUEST,
    ACH_LINK_BANKACCOUNTS_REQUEST
} from "@/store/actions/ach"

export default {
    name: "FiatWalletDepositSynapse",
    components: {
        "multiselect": Multiselect
    },
    mixins: [LoadingState],
    props: {
        walletId: {
            type: Number,
            default: null
        },
        walletName: {
            type: String,
            default: null
        }
    },
    data() {
        return {
            Amount: null,
            BankAccount: null,
            SameDay: false,
            popup: false,
            popup2: false,
            tooltip: false
        }
    },
    computed: {
        sessionUserInfo() {
            return this.$store.state.Session
        },
        BankAccounts() {
            return this.$store.state.ACH.BankAccounts
        }
    },
    mounted() {
        if (!this.$store.getters.IS_ACH_DEPOSIT_READY) {
            this.switchLoading()
            this.$store.dispatch(ACH_BANKACCOUNTS_REQUEST)
                .catch(() => {
                    this.switchLoading()
                    this.$parent.close()
                })
                .finally(() => this.switchLoading())
        }
    },
    methods: {
        openTooltip() {
            this.tooltip = !this.tooltip;
            console.log("sdfsfsd");
        },
        openPopup() {
            this.popup = true;
        },
        tooglePopup(value) {
            this.SameDay = value;
            this.popup = !this.popup;
        },
        tooglePopup2(value) {
            this.popup2 = !this.popup2;
        },
        selectBankAccount(value) {
            if (value && value.Id)
                this.BankAccount = value.Id
        },
        deposit() {
            this.$validator.validate().then(result => {
                if (result) {
                    this.switchLoading()
                    this.$store
                        .dispatch(ACH_DEPOSIT_REQUEST, {
                            "BankAccountId": this.BankAccount.Id,
                            "Amount": this.Amount,
                            "SameDay": this.SameDay,
                            "WalletId": this.walletId
                        })
                        .finally(() => {
                            this.switchLoading()
                            this.$parent.close()
                            this.popup2 = false;
                        })
                }
            })
        },
        link() {
            this.switchLoading()
            this.$store.dispatch(ACH_LINK_BANKACCOUNTS_REQUEST)
                .then(() => this.switchLoading())
        }
    }
}
</script>
<style lang="scss">
.popup {
    background: rgba( 0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    .button {
        margin-right: 10px;
    }
    &-holder {
        background: #fff;
        width: 100%;
        max-width: 480px;
        overflow: hidden;
        border-radius: 5px;
    }
    &-header {
        background-color: whitesmoke;
        padding: 15px;
    }
    &-footer {
        background-color: whitesmoke;
        padding: 15px;
    }
    &-content {
        padding: 20px 15px;
    }
}
.checkbox-label {
    input[type="checkbox"] {
        position: absolute;
        left: 0;
        opacity: 0;
        outline: none;
        z-index: -1;
        & + .check {
            display: inline-block;
            margin-right: 10px;
            width: 1.25em;
            height: 1.25em;
            border-radius: 5px;
            border: 2px solid #7a7a7a;  
            vertical-align: middle;
        }
        &:checked + .check {
                background: url() no-repeat center center;
        }
    }
}
.b-checkbox {
    width: 100%;
}
.tooltip {
    position: absolute;
    left: 50%;
    width: 100%;
    background: #fff;
    padding: 5px;
    top: -88px;
    transform: translateX(-50%);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.55);
}
</style>
