<template>
    <div class="modal-card wallet walletwithdraw" style="width: auto">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ $t("Interface.Wallet.Withdraw.Title") }}</p>
            <span>{{ walletName }}</span>
        </header>
        <section class="modal-card-body">
            <b-field
                :label="$t('Interface.FiatWallet.Withdraw.BankAccount')"
            >
                <multiselect
                    v-model="BankAccount"
                    v-validate="'required'"
                    :options="BankAccounts"
                    :allow-empty="false"
                    :hide-selected="true"
                    track-by="Id"
                    select-label=""
                    label="BankAccount"
                    name="BankAccount"
                    data-vv-name="BankAccount"
                    data-vv-value-path="BankAccount"
                >
                    <template slot="singleLabel" slot-scope="props">
                        <img :src="props.option.BankLogo" class="bankaccount-img">
                        <span class="option-title">{{ props.option.Nickname }}</span>
                        <span class="option-title"> ({{ props.option.BankName }})</span>
                    </template>
                    <template slot="option" slot-scope="props">
                        <img :src="props.option.BankLogo" class="bankaccount-img">
                        <span class="option-title">{{ props.option.Nickname }}</span>
                        <span class="option-title"> ({{ props.option.BankName }})</span>
                    </template>
                </multiselect>
            </b-field>
            <b-field>
                <b-button type="is-light" icon-left="bank-plus" @click="link()">
                    {{ $t("Interface.FiatWallet.LinkBank.ButtonAnother") }}
                </b-button>
            </b-field>
            <b-field
                :label="$t('Interface.FiatWallet.Deposit.Amount')"
                :message="errors.first('Amount')"
                :type="{ 'is-danger': errors.has('Amount'), 'is-success': fields.Amount && fields.Amount.valid }"
            >
                <b-input
                    v-model="Amount"
                    v-validate="{
                        required: true,
                        decimal: true,
                        withdrawlimit: parseFloat(walletBalance),
                        min_value: 0
                    }"
                    name="Amount"
                    type="text"
                    data-cy="amount"
                    icon="coins"
                />
            </b-field>
            <b-checkbox v-model="All" @input="setAllAmount()">
                {{ $t("Interface.Wallet.Withdraw.All") }}
            </b-checkbox>
            <b-field>
                <!--<b-checkbox v-model="SameDay">
                    {{ $t('Interface.FiatWallet.Deposit.SameDay') }}
                </b-checkbox>-->
                <b-checkbox v-model="SameDay">
                    Same Day ACH <strong @mouseover="openTooltip" @mouseout="tooltip = false">?</strong> ($1.5 fee)
                    <div v-if="tooltip" class="tooltip">I understand that if I initiate this transfer after 10pm EST, the funds will be debited into my account on the next business day.</div>
                </b-checkbox>
            </b-field>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-theme is-outlined" type="button" @click="$parent.close()">
                {{ $t("Interface.Buttons.Cancel") }}
            </button>
            <button class="button is-theme" @click="tooglePopup2(false)">
                {{ $t("Interface.Buttons.Withdraw") }}
            </button>
        </footer>
        <b-loading :is-full-page="false" :active.sync="IsLoading" :can-cancel="false" />
        <div class="popup" v-if="popup2">
            <div class="popup-holder">
                <div class="popup-header">
                    <h2 v-if="SameDay">Withdrawal With Same Day ACH</h2>
                    <h2 v-else>Withdrawal Without Same Day ACH</h2>
                </div>
                <div class="popup-content">
                    <template v-if="SameDay">                                          
                        <p>I authorize {{ sessionUserInfo.Name }} to credit my bank account for <strong v-if="Amount">{{ Amount }}</strong> <strong v-else>0</strong> on or after [Date]. I understand that, because this is an electronic transaction, these funds may be withdrawn from my BitcoinAlley account as soon as the above indicated transaction date.
By choosing the option “Same Day ACH” I authorize BitcoinAlley to deduct the fee of $1.50 from the balance of the transfer. I will receive the total balance of <strong v-if="Amount">{{ Amount -1.5 }}</strong> <strong v-else>0</strong> into my bank account.</p>
                        <p>I understand that if I initiate this transfer after 10pm EST, the funds will be debited into my account on the next business day.</p>
                    </template>
                    <template v-else>
                        <p>I authorize {{ sessionUserInfo.Name }} to credit my bank account for <strong v-if="Amount">{{ Amount }}</strong> <strong v-else>0</strong> on or after [Date]. I understand that, because this is an electronic transaction, these funds may be withdrawn from my BitcoinAlley account as soon as the above indicated transaction date.</p>
                    </template>
                </div>
                <div class="popup-footer">
                    <button class="button is-theme is-outlined" type="button" @click="tooglePopup2(false)">
                        I Disagree
                    </button>
                    <button class="button is-theme" data-cy="submit" @click="withdraw()">
                         I Agree
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Multiselect from "vue-multiselect"
import LoadingState from "@/mixins/LoadingState"
import {
    ACH_BANKACCOUNTS_REQUEST,
    ACH_WITHDRAW_REQUEST,
    ACH_LINK_BANKACCOUNTS_REQUEST
} from "@/store/actions/ach"

export default {
    name: "FiatWalletWithdarwSynapse",
    components: {
        "multiselect": Multiselect
    },
    mixins: [LoadingState],
    props: {
        walletId: {
            type: Number,
            default: null
        },
        walletName: {
            type: String,
            default: null
        },
        walletBalance: {
            type: Number,
            default: null
        }
    },
    data() {
        return {
            Amount: null,
            BankAccount: null,
            All: false,
            SameDay: false,
            popup: false,
            popup2: false,
            tooltip: false
        }
    },
    computed: {
        sessionUserInfo() {
            return this.$store.state.Session
        },
        BankAccounts() {
            return this.$store.state.ACH.BankAccounts
        }
    },
    mounted() {
        if (!this.$store.getters.IS_ACH_DEPOSIT_READY) {
            this.switchLoading()
            this.$store.dispatch(ACH_BANKACCOUNTS_REQUEST)
                .catch(() => {
                    this.switchLoading()
                    this.$parent.close()
                })
                .finally(() => this.switchLoading())
        }
    },
    methods: {
         openTooltip() {
            this.tooltip = !this.tooltip;
            console.log("sdfsfsd");
        },
        openPopup() {
            this.popup = true;
        },
        tooglePopup(value) {
            this.SameDay = value;
            this.popup = !this.popup;
        },
        tooglePopup2(value) {
            this.popup2 = !this.popup2;
        },
        selectBankAccount(value) {
            if (value && value.Id)
                this.BankAccount = value.Id
        },
        withdraw() {
            this.$validator.validate().then(result => {
                if (result) {
                    this.switchLoading()
                    this.$store
                        .dispatch(ACH_WITHDRAW_REQUEST, {
                            "BankAccountId": this.BankAccount.Id,
                            "Amount": this.Amount,
                            "SameDay": this.SameDay,
                            "WalletId": this.walletId
                        })
                        .finally(() => {
                            this.switchLoading()
                            this.$parent.close()
                        })
                }
            })
        },
        setAllAmount() {
            this.Amount = this.walletBalance
        },
        link() {
            this.switchLoading()
            this.$store.dispatch(ACH_LINK_BANKACCOUNTS_REQUEST)
                .then(() => this.switchLoading())
        }
    }
}
</script>
